@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aplicativo desenvolvido com o objetivo de controlar as caronas para o Escritório Central.</p>
<p>Desenvolvido por: Mateus Deitos</p>
