@{
    ViewData["Title"] = "Sobre";
}

    <div class="jumbotron">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <h3>@ViewData["Message"]</h3>

        <p>Aplicativo desenvolvido com o objetivo de controlar as caronas para o Escritório Central.</p>
        <p>Desenvolvido por: Mateus Deitos</p>
    </div>
