@{
    ViewData["Title"] = "Contato";
}
    <div class="jumbotron">

        <h2>@ViewData["Title"]</h2>
        <hr />
        <h3>@ViewData["Message"]</h3>
        <h4>Mateus Campos Deitos</h4>


        <address>
            <strong>Suporte:</strong> <a href="mailto:mate.deitos@hotmail.com">mate.deitos@hotmail.com</a><br />
        </address>
    </div>
