@{
    ViewData["Title"] = "CaronasApp";
}

    <div class="jumbotron">
        <h1>Bem vindo!</h1>
        <hr />
        <p>Esse aplicativo tem o objetivo de controlar o histórico e pagamento das caronas entre os participantes</p>
        <p><a class="btn btn-primary btn-lg" href="Rides/AnalyticalReport">Minhas Caronas</a></p>
    </div>