@model CaronasMVCWebApp.Models.Destiny

@{
    ViewData["Title"] = "Deletar Destino";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que deseja deletar esse destino?</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerPassenger" class="control-label"></label>
                <input asp-for="CostPerPassenger" class="form-control" disabled />
                <span asp-validation-for="CostPerPassenger" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Deletar">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <a asp-action="Index" data-toggle="tooltip" data-placement="bottom" title="Voltar" class="btn btn-default glyphicon glyphicon-arrow-left"></a>
        </form>
    </div>
</div>
