@model CaronasMVCWebApp.Models.Destiny

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do destino</h2>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="CostPerPassenger" class="control-label"></label>
                <input asp-for="CostPerPassenger" class="form-control" disabled />
            </div>
            <a asp-action="Index" data-toggle="tooltip" data-placement="bottom" title="Voltar" class="btn btn-default glyphicon glyphicon-arrow-left"></a>
            <a asp-action="Edit" data-toggle="tooltip" data-placement="bottom" title="Alterar dados" class="btn btn-default glyphicon glyphicon-pencil" asp-route-id="@Model.Id"></a>
            <a asp-action="Delete" data-toggle="tooltip" data-placement="bottom" title="Excluir participante" class="btn btn-danger glyphicon glyphicon-trash" asp-route-id="@Model.Id"></a>

        </form>
    </div>
</div>
